 <link rel="stylesheet" href="style.css" />

    <style>
        body {
            font-family: Arial;
            margin: 0;
            background-color: rgb(255, 255, 255);

            display: flex;
            flex-direction: column;
            align-items: center;


        }

        header {
            margin-top: 30px;
        }

        nav {
            margin: 20px 0;
        }

        nav a {
            margin: 5px;
            padding: 10px;
            text-decoration: none;
            color: black;
            border: 1px solid black;
            display: inline-block;
        }

        .caixa {
            background-color: rgb(110, 110, 129);
            width: 300px;
            padding: 20px;
            border: 1px solid black;
            color: black;
        }

        a {
            display: block;
            color: black;
            text-decoration: none;
            padding: 10px;
            margin: 10px;
        }

        .jogo {
            border: 1px solid black;
        }

        .discord {
            border: 1px solid black;
        }

        form {
            border: 1px solid black;
            padding: 10px;
            width: 300px;
            margin-top: 20px;
            background-color: rgb(130, 132, 153);
            color: rgb(255, 255, 255);
        }

        input, textarea {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        button {
            padding: 5px;
            background-color: rgb(18, 196, 71);
            color: black;
            border: 1px solid rgb(0, 0, 0);
        }

        hr {
            width: 80%;
            margin: 20px 0;
            border: 1px solid black;
        }
    </style>
</head>
